*~
*.gem
*.rbc
.bundle
.config
.yardoc
.DS_Store
Gemfile.lock
doc
pkg
test.rb
test.png
gtk_test
spec_script
*.DS_Store
!spec/*.DS_Store
*.gem
*test*png
*grruby.time
*.bundle
*.o
a_test.rb
tmp/
*.so
TAGS
spec/reference_images/file_magick.png
spec/reference_images/file_name.bmp
*.DS_Store
spec/.DS_Store
